trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  AZURE_CONTAINER_REGISTRY: kachikanapi
  CONTAINER_APP_NAME: kachikan-container
  RESOURCE_GROUP: Udemy-RG
  IMAGE_NAME: kachikan-container
  TAG: $(Build.SourceVersion)

steps:
  - checkout: self
  
  # .NET 8
  - task: UseDotNet@2
    inputs:
      packageType: sdk
      version: 8.0.x

  - script: dotnet build --configuration Release
    displayName: Build .NET project
  
  # Build & Push Docker image
  - task: Docker@2
    displayName: Build and push image to ACR
    inputs:
      command: buildAndPush
      repository: $(IMAGE_NAME)
      dockerfile: Refit.Api/Dockerfile
      containerRegistry: acr-service-connection
      tags: |
        $(TAG)
  
  # Deploy to Azure Container Apps
  - task: AzureCLI@2
    displayName: Deploy to Azure Container Apps
    inputs:
      azureSubscription: azure-service-connection
      scriptType: bash
      scriptLocation: inlineScript
      inlineScript: |
        az containerapp update \
          --name $(CONTAINER_APP_NAME) \
          --resource-group $(RESOURCE_GROUP) \
          --image $(AZURE_CONTAINER_REGISTRY).azurecr.io/$(IMAGE_NAME):$(TAG) \
          --set-env-vars ASPNETCORE_ENVIRONMENT=Development
